<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 mt-5 mb-5 text-center">
                <img src="{{ '/assets/img/logo-mediano.png' | relative_url }}" alt="logo">
                <h2 class="subtitulo-bigosoft">Diseños de aplicaciones</h2>
            </div>

            <div class="col-md-3 mt-5 mb-5">
                <h2 class="titulo-footer">Contacto</h2>
                <hr style="height:3px;width:50px;border:none;color:#ffaaaa;background-color:#ffaaaa;opacity: 1;">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                </svg>
                <a href="mailto:info@bigosoft.co.uk" class="enlace-footer text-decoration-none">info@bigosoft.com</a>
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-telephone-plus-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
                <a href="tel:+923164695959" class="enlace-footer text-decoration-none">+3495274088</a>
                <br>

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
                <a href="https://goo.gl/maps/zfRwoR9bA4bK2v8XA" class="enlace-footer text-decoration-none">Calle Compositor Lehmberg Ruiz, 29007, Málaga</a>
            </div>

            <div class="col-md-3 mt-5 mb-5">
                <h2 class="titulo-footer">Sobre Nosotros</h2>
                <hr style="height:3px;width:50px;border:none;color:#ffaaaa;background-color:#ffaaaa;opacity: 1;">

                <a href="{{ site.baseurl }}{% link quienes-somos.html %}" class="enlace-footer text-decoration-none">¿Quiénes somos?</a>
                <br>
                <a href="{{ site.baseurl }}{% link index.html %}#solicitud-info" class="enlace-footer text-decoration-none">¿Tienes una idea? Solicita información</a>
                <br>
                <a href="{{ site.baseurl }}{% link trabaja-con-nosotros.html %}" class="enlace-footer text-decoration-none">Trabaja con nosotros</a>
            </div>


            <div class="col-md-3 mt-5 mb-5">
                <h2 class="titulo-footer">Puedes visitarnos en</h2>
                <hr style="height:3px;width:50px;border:none;color:#ffaaaa;background-color:#ffaaaa;opacity: 1;">

                <a href=""><img src="{{ '/assets/img/facebook.png' | relative_url }}" alt="icono-facebook"
                            class="img-fluid" width="40" height="40"></a>
                <a href=""><img src="{{ '/assets/img/twitter.png' | relative_url }}"
                                                                alt="icono-twitter"
                                                                class="img-fluid" width="40" height="40"></a>
                <a href=""><img src="{{ '/assets/img/instagram.png' | relative_url }}" alt="icono-instagram"
                            class="img-fluid" width="46" height="46"></a>
            </div>

        </div>
    </div>
</footer>
